@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap");
@media only screen and (max-width: 768px) {
  .une__flex,
  .dataset__flex {
    margin: 5rem 0 !important;
  }
  .une__flex__item,
  .dataset__flex__item {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
  }
  .chart__bubble {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (max-width: 425px) {
  .hero:after {
    background: rgba(247, 246, 244, 0) 50%;
  }
  .hero__img {
    right: -160px !important;
    width: 90vw !important;
  }
  .authorHero__title, .hero__title {
    font-size: 2.5rem !important;
  }
  .data__chart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data__chart__container {
    width: 100vw !important;
    height: 50vw !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #cca269;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lds-dual-ring {
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main {
  background-color: #f7f6f4;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  position: relative;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  z-index: 3;
  color: #cca269;
}

.hero__text {
  margin: 0;
  z-index: 3;
}

.hero__img {
  position: absolute;
  opacity: 0;
  right: -50rem;
  z-index: 1;
  width: 50vw;
}

.hero__portait {
  position: absolute;
  opacity: 1;
  right: 10rem;
  top: 0;
  width: 20vw;
  z-index: 1;
}

.hero:after {
  background: #f7f6f4;
  background: -webkit-gradient(linear, left bottom, left top, from(#f7f6f4), color-stop(50%, rgba(247, 246, 244, 0)));
  background: linear-gradient(0deg, #f7f6f4 0%, rgba(247, 246, 244, 0) 50%);
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.authorHero {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authorHero__title {
  font-family: 'Merriweather', serif;
  font-size: 4rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
  z-index: 3;
  color: #cca269;
}

.authorHero__text {
  margin: 0;
  z-index: 3;
  text-align: center;
}

.authorHero__portait {
  opacity: 1;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  border-radius: 100%;
  border: 4px solid #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.return__link {
  position: absolute;
  top: 3rem;
  left: 10%;
  color: #666;
  text-decoration: none;
  z-index: 4;
  font-size: 1.5rem;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.return__link:hover {
  color: #000000;
}

.nav {
  position: absolute;
  right: 2rem;
  top: 4rem;
  z-index: 4;
}

.nav__button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 5;
  right: 0;
  position: absolute;
}

.nav__button span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 4;
}

.nav__list {
  position: absolute;
  right: 0;
  margin-top: 3rem;
  display: none;
  background-color: #cca269;
  padding: 0;
  width: 200px;
}

.nav__list__title {
  list-style-type: none;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.nav__list__link {
  list-style-type: none;
}

.nav__list__link a {
  width: 100%;
  padding: 1rem;
  display: block !important;
  color: #000000;
  text-decoration: none;
}

.nav__list__link a:hover {
  background-color: #cab9a0;
}

.map {
  position: relative;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .map__title {
    font-size: 2.2rem !important;
  }
}

.map__text {
  margin-bottom: 2rem;
}

.map__map {
  height: 90vh;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.une {
  position: relative;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.une__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .une__title {
    font-size: 2.2rem !important;
  }
}

.une__text {
  display: block;
  background-image: url("images/book--fr.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem 4rem;
  margin: 2rem 0;
  background: linear-gradient(to right, #8B4513 6px, transparent 6px) 0 100%, linear-gradient(to left, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to bottom, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to top, #8B4513 6px, transparent 6px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  color: #666;
  font-size: 1.25rem;
  text-align: center;
}

.une__text:before {
  content: "«";
  font-size: 5em;
  position: absolute;
  left: -5px;
  margin-top: -95px;
  color: #666;
}

.une__text:after {
  content: "»";
  font-size: 5em;
  position: absolute;
  right: -5px;
  margin-top: -30px;
  color: #666;
}

.une__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5rem;
  max-width: 1000px;
  width: 100%;
}

.une__flex__item {
  width: calc((100% / 3) - (2rem / 3));
  min-height: 200px;
  min-width: 130px;
  background-color: #cca269;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
}

.une__flex__item:nth-child(3n) {
  margin-right: 0;
}

.une__flex__item__img {
  height: 192px;
  margin-bottom: 1.5rem;
  z-index: 1;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .une__flex__item {
    min-width: 100%;
  }
}

.une__flex__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.une__flex__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  z-index: 2;
}

.preface {
  position: relative;
  margin: 0 10%;
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.preface__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .preface__title {
    font-size: 2.2rem !important;
  }
}

.preface__text:last-of-type {
  margin-bottom: 0;
}

.preface__btn {
  font-family: 'Merriweather', serif;
  color: #AAAAAA;
  border: none;
  background: none;
  cursor: pointer;
}

.preface__btn:disabled {
  color: #000000;
}

.data {
  position: relative;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.data__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .data__title {
    font-size: 2.2rem !important;
  }
}

.data__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.data__chart__container {
  width: 50%;
}

.data__chart__text {
  width: 50%;
  color: #666 !important;
  text-align: center;
}

.data__chart__text__link {
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.data__chart__text__link:hover {
  color: #000000;
  text-decoration: none;
}

.dataset {
  position: relative;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.dataset__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .dataset__title {
    font-size: 2.2rem !important;
  }
}

.dataset__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5rem;
  max-width: 1000px;
  width: 100%;
}

.dataset__flex__item {
  width: calc((100% / 3) - (2rem / 3));
  min-height: 200px;
  min-width: 130px;
  background-color: #cca269;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
}

.dataset__flex__item:nth-child(3n) {
  margin-right: 0;
}

.dataset__flex__item__img {
  height: 192px;
  margin-bottom: 1.5rem;
  z-index: 1;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .dataset__flex__item {
    min-width: 100%;
  }
}

.dataset__flex__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dataset__flex__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  z-index: 2;
}

.bnf,
.wikidata {
  position: relative;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.bnf__btn,
.wikidata__btn {
  cursor: pointer;
  background-color: #cca269;
  border: none;
  font: inherit;
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.bnf__btn:hover,
.wikidata__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bnf__title,
.wikidata__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .bnf__title,
  .wikidata__title {
    font-size: 2.2rem !important;
  }
}

.bnf__flex,
.wikidata__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5rem;
  max-width: 1000px;
  width: 100%;
}

.bnf__flex__item,
.wikidata__flex__item {
  width: calc((100% / 3) - (2rem / 3));
  min-height: 200px;
  min-width: 130px;
  background-color: #cca269;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  display: none;
}

.bnf__flex__item:nth-child(-n+9),
.wikidata__flex__item:nth-child(-n+9) {
  display: block;
}

.bnf__flex__item:nth-child(3n),
.wikidata__flex__item:nth-child(3n) {
  margin-right: 0;
}

.bnf__flex__item__img,
.wikidata__flex__item__img {
  height: 192px;
  margin-bottom: 1.5rem;
  z-index: 1;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .bnf__flex__item,
  .wikidata__flex__item {
    min-width: 100%;
  }
}

.bnf__flex__item:hover,
.wikidata__flex__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bnf__flex__item a,
.wikidata__flex__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  z-index: 2;
}

.chart {
  position: relative;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.chart__title {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .chart__title {
    font-size: 2.2rem !important;
  }
}

.chart__title:nth-of-type(2) {
  margin-top: 10% !important;
}

.chart__container {
  width: 50vw;
}

.chart__container:nth-of-type(1) {
  margin-bottom: 1rem;
}

.chart__bubble {
  background-color: #cca269;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  margin-top: 5%;
}

.chart__bubble__column {
  background-color: #f1dfd1;
  margin: 2rem;
  display: inline-block;
  padding: 1rem;
}

.chart__bubble__column__dot {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  border: #cca269 solid 2px;
  border-radius: 100%;
}

.chart__bubble__column__dot a {
  width: 100%;
  height: 100%;
  display: block;
}

.chart__bubble__column__dot:hover .chart__bubble__column__dot__tooltip {
  visibility: visible;
  z-index: 999;
}

.chart__bubble__column__dot__tooltip {
  visibility: hidden;
  min-width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  pointer-events: none;
  /* Position the tooltip */
  position: absolute;
  right: -150px;
  z-index: 999;
}

.chart__bubble__column__dot__tooltip p:nth-child(1) {
  margin-top: 0;
}

.chart__bubble__column__dot__tooltip p:nth-child(2) {
  margin: 0;
}

#visiautrices {
  display: none;
}

#wikidataText, #bnfText {
  display: none;
}
/*# sourceMappingURL=styles.css.map */