@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    background-color: #f7f6f4;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    position: relative;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title{
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 4rem;
        margin-bottom: 1rem;
        z-index: 3;
        color: #cca269;
    }
    
    &__text{
        margin: 0;
        z-index: 3;
    }

    &__img{
        position: absolute;
        opacity: 0;
        right: -50rem;
        z-index: 1;
    }

    &:after {
        background: rgb(247,246,244);
        background: linear-gradient(0deg, rgba(247,246,244,1) 0%, rgba(247,246,244,0) 50%);
        position: absolute;
        content: '';
        left:0; top:0;
        width:100%; height:100%;
        z-index: 2;
    }
}

.nav {
    display: none;
}

.une {
    height: 75vh;
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    &__title{
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 3rem;
    }

    &__text{
        display: block; 
        background-image: url("images/book--fr.svg"); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 1rem 4rem;
        margin-bottom: 2rem;
        background: linear-gradient(to right, #8B4513 6px, transparent 6px) 0 100%, linear-gradient(to left, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to bottom, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to top, #8B4513 6px, transparent 6px) 0 100%;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        color: #666;
        font-size: 1.25rem;
        text-align: center;
    }

    &__text:before {
        content: "«";
        font-size: 5em;
        position: absolute;
        left: -5px;
        top: 140px;
        color: #666;
    }

    &__text:after {
        content: "»";
        font-size: 5em;
        position: absolute;
        right: -5px;
        top: 190px;
        color: #666;
    }
}

.preface {
    position: relative; 
    margin: 0 10%;
    padding-bottom: 10rem;
    padding-top: 10rem;
    

    &__title{
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 3rem;
    }

    &__text:last-of-type {
        margin-bottom: 0;
    }

    &__btn {
        font-family: 'Merriweather', serif;
        color: #AAAAAA;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__btn:disabled{ 
        color: #000000;
    }
}

.data {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;

        &__title{
            margin-top: 0;
            font-family: 'Merriweather', serif;
            font-size: 3rem;
        }

        &__chart{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            &__container{
                width: 50%;
            }
            &__text{
                width: 50%;
                color: #666  !important;
                &__link {
                    color: #666;
                    text-decoration: none;
                    font-size: 1.5rem;
                }
                &__link:hover {
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
}

// JAVASCRIPT
#visiautrices {
    display: none;
}