@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

@mixin button {
    cursor: pointer;
    background-color: #cca269;
    border: none;
    font: inherit;
    padding: 2rem;
    align-self: center;
    display: none;
    transition: .2s;

    &:hover {
        transform: scale(1.10);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
}

@mixin flexContent($showmore: false) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-self: center;
    margin: 5rem;
    max-width: 1000px;
    width: 100%;

    &__item {
        width: calc((100% / 3) - (2rem / 3));
        min-height: 200px;
        min-width: 130px;
        background-color: #cca269;
        margin-right: 1rem;
        margin-bottom: 1rem;
        transition: .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: block;

        @if $showmore {
            display: none;

            &:nth-child(-n+9) {
                display: block;
            }
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &__img {
            height: 192px;
            margin-bottom: 1.5rem;
            z-index: 1;
            width: auto;
        }

        @media only screen and (max-width: 768px) {
            min-width: 100%;
        }

        &:hover {
            transform: scale(1.10);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }
    }


    &__item a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #000000;
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        padding: 2rem;
        z-index: 2;
    }
}

@mixin h2Title {
    margin-top: 0;
    font-family: 'Merriweather', serif;
    font-size: 3rem;

    @media only screen and (max-width: 768px) {
        font-size: 2.2rem !important;
    }
}

@media only screen and (max-width: 768px) {

    .une,
    .dataset {
        &__flex {
            margin: 5rem 0 !important;

            &__item {
                width: 100% !important;
                margin-right: 0 !important;
                margin-bottom: 1rem !important;
            }
        }
    }

    .chart {
        &__bubble {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}

@media only screen and (max-width: 425px) {

    .hero {
        &:after {
            background: rgba(247, 246, 244, 0) 50%;
        }

        &__img {
            right: -160px !important;
            width: 90vw !important;
        }
    }

    .authorHero, .hero {
        &__title {
            font-size: 2.5rem !important;
        }
    }

    .data {
        &__chart {
            flex-direction: column;
            &__container {
                width: 100vw !important;
                height: 50vw !important;
            }
        }
    }

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #cca269;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring {
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main {
    background-color: #f7f6f4;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    position: relative;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 4rem;
        margin-bottom: 1rem;
        z-index: 3;
        color: #cca269;
    }

    &__text {
        margin: 0;
        z-index: 3;
    }

    &__img {
        position: absolute;
        opacity: 0;
        right: -50rem;
        z-index: 1;
        width: 50vw;
    }

    &__portait {
        position: absolute;
        opacity: 1;
        right: 10rem;
        top: 0;
        width: 20vw;
        z-index: 1;
    }

    &:after {
        background: rgb(247, 246, 244);
        background: linear-gradient(0deg, rgba(247, 246, 244, 1) 0%, rgba(247, 246, 244, 0) 50%);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.authorHero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
        font-family: 'Merriweather', serif;
        font-size: 4rem;
        margin-top: 0.75rem;
        margin-bottom: 1rem;
        text-align: center;
        z-index: 3;
        color: #cca269;
    }

    &__text {
        margin: 0;
        z-index: 3;
        text-align: center;
    }

    &__portait {
        opacity: 1;
        width: 150px;
        height: 150px;
        object-fit: cover;
        z-index: 1;
        border-radius: 100%;
        border: 4px solid #ffffff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.return {
    &__link {
        position: absolute;
        top: 3rem;
        left: 10%;
        color: #666;
        text-decoration: none;
        z-index: 4;
        font-size: 1.5rem;
        transition: .2s;
        transition-timing-function: ease-in-out;

        &:hover {
            color: #000000;
        }
    }
}

.nav {
    position: absolute;
    right: 2rem;
    top: 4rem;
    z-index: 4;

    &__button {
        background: none;
        border: none;
        cursor: pointer;
        z-index: 5;
        right: 0;
        position: absolute;
    }

    &__button span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 4;
    }

    &__list {
        position: absolute;
        right: 0;
        margin-top: 3rem;
        display: none;
        background-color: #cca269;
        padding: 0;
        width: 200px;

        &__title {
            list-style-type: none;
            padding: 1rem;
            font-weight: 700;
            font-size: 1.2rem;
        }

        &__link {
            list-style-type: none;

            a {
                width: 100%;
                padding: 1rem;
                display: block !important;
                color: #000000;
                text-decoration: none;
            }

            a:hover {
                background-color: #cab9a0;

            }
        }
    }
}


.map {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
        @include h2Title();
    }

    &__text {
        margin-bottom: 2rem;
    }

    &__map {
        height: 90vh;
        width: 90%;
        align-self: center;
    }
}

.une {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
        @include h2Title();
    }

    &__text {
        display: block;
        background-image: url("images/book--fr.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 1rem 4rem;
        margin: 2rem 0;
        background: linear-gradient(to right, #8B4513 6px, transparent 6px) 0 100%, linear-gradient(to left, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to bottom, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to top, #8B4513 6px, transparent 6px) 0 100%;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        color: #666;
        font-size: 1.25rem;
        text-align: center;
    }

    &__text:before {
        content: "«";
        font-size: 5em;
        position: absolute;
        left: -5px;
        margin-top: -95px;
        color: #666;
    }

    &__text:after {
        content: "»";
        font-size: 5em;
        position: absolute;
        right: -5px;
        margin-top: -30px;
        color: #666;
    }

    &__flex {
        @include flexContent;
    }
}

.preface {
    position: relative;
    margin: 0 10%;
    padding-bottom: 10rem;
    padding-top: 10rem;


    &__title {
        @include h2Title();
    }

    &__text:last-of-type {
        margin-bottom: 0;
    }

    &__btn {
        font-family: 'Merriweather', serif;
        color: #AAAAAA;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__btn:disabled {
        color: #000000;
    }
}

.data {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;

    &__title {
        @include h2Title();
    }

    &__chart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        &__container {
            width: 50%;
        }

        &__text {
            width: 50%;
            color: #666 !important;
            text-align: center;

            &__link {
                text-decoration: none;
                font-size: 1.5rem;
                transition: .2s;
                transition-timing-function: ease-in-out;

                &:hover {
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
    }
}

.dataset {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;

    &__title {
        @include h2Title();
    }

    &__flex {
        @include flexContent;
    }
}

.bnf,
.wikidata {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;

    &__btn {
        @include button();
    }

    &__title {
        @include h2Title();
    }

    &__flex {
        @include flexContent($showmore: true);
    }
}


.chart {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;

    &__title {
        @include h2Title();

        &:nth-of-type(2) {
            margin-top: 10% !important;
        }
    }

    &__container {
        width: 50vw;
        min-height: 50vh;
        margin-top: 10%;
    }

    &__bubble {
        background-color: #AAAAAA;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        margin-top: 10%;

        &__column {
            background-color: #cab9a0;
            margin: 2rem;
            display: inline-block;

            &__dot {
                width: 20px;
                height: 20px;
                margin: 2px;
                background-color: #ffffff;
                position: relative;
                display: inline-block;

                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                &:hover &__tooltip {
                    visibility: visible;
                    z-index: 999;
                }

                &__tooltip {
                    visibility: hidden;
                    min-width: 300px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    pointer-events: none;
                  
                    /* Position the tooltip */
                    position: absolute;
                    right: -150px;
                    z-index: 999;

                    p:nth-child(1) {
                        margin-top: 0;
                    }
                    p:nth-child(2) {
                        margin: 0;
                    }
                }


            }
        }
    }
}

// JAVASCRIPT
#visiautrices {
    display: none;
}

#wikidataText, #bnfText {
    display: none;
}