@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

@media only screen and (max-width: 768px) {

  .une {
      &__flex {
          margin: 5rem 0 !important;
            &__item{ 
                width: 100% !important;
                margin-right: 0 !important;
                margin-bottom: 1rem !important;
            }
        }
  }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    background-color: #f7f6f4;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    position: relative;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title{
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 4rem;
        margin-bottom: 1rem;
        z-index: 3;
        color: #cca269;
    }
    
    &__text{
        margin: 0;
        z-index: 3;
    }

    &__img{
        position: absolute;
        opacity: 0;
        right: -50rem;
        z-index: 1;
    }

    &:after {
        background: rgb(247,246,244);
        background: linear-gradient(0deg, rgba(247,246,244,1) 0%, rgba(247,246,244,0) 50%);
        position: absolute;
        content: '';
        left:0; top:0;
        width:100%; height:100%;
        z-index: 2;
    }
}

.return {
    &__link {
        position: absolute;
        top: 3rem;
        left: 10%;
        color: #666;
        text-decoration: none;
        z-index: 4;
        font-size: 1.5rem;
        transition: .2s;
        transition-timing-function: ease-in-out;
        &:hover {
            color: #000000;
        }
    }
}

.nav {
    position: absolute;
    right: 2rem;
    top: 4rem;
    z-index: 4;
    &__button {
        background: none;
        border: none;
        cursor: pointer;
        z-index: 5;
        right: 0;
        position: absolute;
    }
    &__button span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 4;
    }
    &__list {
        position: absolute;
        right: 0;
        margin-top: 3rem;
        display:none;
        background-color: #cca269;
        padding: 0;
        width: 200px;
        &__title{
            list-style-type: none;
            padding: 1rem;
            font-weight: 700;
            font-size: 1.2rem;
        }
        &__link{
            list-style-type: none;
            a {
                width: 100%;
                padding: 1rem;
                display: block !important;
                color: #000000;
                text-decoration: none;
            }
            a:hover {
                background-color: #cab9a0;

            }
        }
    }
}

.une {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    &__title{
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 3rem;
    }

    &__text{
        display: block; 
        background-image: url("images/book--fr.svg"); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 1rem 4rem;
        margin: 2rem 0;
        background: linear-gradient(to right, #8B4513 6px, transparent 6px) 0 100%, linear-gradient(to left, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to bottom, #8B4513 6px, transparent 6px) 100% 0, linear-gradient(to top, #8B4513 6px, transparent 6px) 0 100%;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        color: #666;
        font-size: 1.25rem;
        text-align: center;
    }

    &__text:before {
        content: "«";
        font-size: 5em;
        position: absolute;
        left: -5px;
        margin-top: -95px;
        color: #666;
    }

    &__text:after {
        content: "»";
        font-size: 5em;
        position: absolute;
        right: -5px;
        margin-top: -30px;
        color: #666;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
        margin: 5rem;
        &__item {
            width: calc((100% / 3) - (2rem / 3));
            height: 200px;
            background-color: #cca269;
            display: block;
            margin-right: 1rem;
            margin-bottom: 1rem;
            transition: .2s;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &__item:hover {
            transform: scale(1.10);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }
        &__item a{
            width: 100%;
            height: 100%;
            display: block;
            color: #000000;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.5rem;
            padding: 2rem;
        }
    }
}

.preface {
    position: relative; 
    margin: 0 10%;
    padding-bottom: 10rem;
    padding-top: 10rem;
    

    &__title{
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 3rem;
    }

    &__text:last-of-type {
        margin-bottom: 0;
    }

    &__btn {
        font-family: 'Merriweather', serif;
        color: #AAAAAA;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__btn:disabled{ 
        color: #000000;
    }
}

.data {
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;

        &__title{
            margin-top: 0;
            font-family: 'Merriweather', serif;
            font-size: 3rem;
        }

        &__chart{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            &__container{
                width: 50%;
            }
            &__text{
                width: 50%;
                color: #666  !important;
                &__link {
                    color: #666;
                    text-decoration: none;
                    font-size: 1.5rem;
                    transition: .2s;
                    transition-timing-function: ease-in-out;
                    &:hover {
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
}

// JAVASCRIPT
#visiautrices {
    display: none;
}